body {
    font-family: Raleway;
    background-color: white;
}
main {
    background-color: white;
}
h1  {
    background-color: #c80000;
    color: white;
    text-align: center;
}

h2 {
    background-color: #fff;
    color: black;
    text-align: center;
}

h3 {
    background-color: #666;
    color: white;
    text-align: center;
}

#picture-frame {
    border: 1px solide #666;
}


footer {
    background-color: #666;
    text-align: center;
    color: white;
}